$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: split,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .10,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
  image: show,
  output: overlay,
  toggle: bottom left,
  color: rgba(gray, .5),
  )
);

html, body {
  width: 100%;
}


$pad            : 768px;
$desktop        : 1024px;

.container {
  width: 100%;
}

.container {
  @include container(4);
  padding: 1.25em;
  @include breakpoint($pad) { @include show-grid(8); max-width: container(8); }
  @include breakpoint($desktop) { @include show-grid(12); max-width: container(12); }
}

