$theme-green: #0ED1A4;

$text-color-black-dark: #212121;
$text-color-black-medium: #424242;
$text-color-black-light: #616161;

$text-color-gray-light: #acacac;

$bg-color-gray-dark: #424242;
$bg-color-gray-medium: #d9d9d9;
$bg-color-gray-light: #f3f3f3;

$border-color-gray: #d9d9d9;
