.account.js-account
  .account__wrap
    .account__wrap__closeBtn.js-closeBtn
    .account__wrap__logo
      img(src="public/img/appIcon.png")
    .account__wrap__name.js-userName
      .account__wrap__name__label 使用者名稱
      input.account__wrap__name__field
    .account__wrap__email.js-email
      .account__wrap__email__label 電子郵件
      input.account__wrap__email__field
    .account__wrap__password.js-password
      .account__wrap__password__label 密碼
      input.account__wrap__password__field
    .account__wrap__mobile.js-mobile
      .account__wrap__mobile__label 手機號碼
      input.account__wrap__mobile__field
    a.account_wrap__subAction.js-theOtherAction
    a.account_wrap__subAction.js-forgotPassword 忘記密碼?
    button.account__wrap__submit.js-submitBtn 登入

