if obj.comments
  .comment__person
    .comment__person__avatar
      img.comment__person__avatar__image(src="public/img/avatar.jpg")
    .comment__person__nameAndMessage
      .comment__person__nameAndMessage__name Obama Chen
      .comment__person__nameAndMessage__message Consider adding some example CSS output. This is advanced Sass, so it's not easy to tell what the Sass code does. Thanks for mentioning multidimensional lists. I've been in the search for how to do this.
