if obj.comments
  -for(var i = 0; i<obj.comments.length; i++)
    .comment__person
      .comment__person__avatar
        img.comment__person__avatar__image(src=obj.comments[i].commenter.avatarImage.url)
      .comment__person__nameAndMessage
        .comment__person__nameAndMessage__name=obj.comments[i].commenter.name
        .comment__person__nameAndMessage__message=obj.comments[i].content
