.login.js-login
  .login__wrap
    .login__wrap__closeBtn.js-closeBtn
    .login__wrap__logo
      img(src="public/img/appIcon.png")
    .login__wrap__name
      .login__wrap__name__label 使用者名稱
      input.login__wrap__name__field
    .login__wrap__email
      .login__wrap__email__label 電子郵件
      input.login__wrap__email__field
    .login__wrap__mobile
      .login__wrap__mobile__label 手機號碼
      input.login__wrap__mobile__field
    button.login__wrap__submit 登入

