.otherProduct
  .otherProduct__label 其他商品
  .otherProduct__item.big.floatLeft.marginLeft.photoWrap
    img.photoInner(src="http://placehold.it/960x960/29A4DB")
  .otherProduct__item.small.floatLeft.marginRight.photoWrap
    img.photoInner(src="http://placehold.it/960x960/F4A93B")
  .otherProduct__item.small.floatLeft.marginRight.photoWrap
    img.photoInner(src="http://placehold.it/960x960/EA5A24")
  //- .otherProduct__item.big.floatRight.marginRight.photoWrap
  //-   img.photoInner(src="http://placehold.it/960x960/006837")
  //- .otherProduct__item.small.floatRight.marginLeft.photoWrap
  //-   img.photoInner(src="http://placehold.it/960x960/754C24")
  //- .otherProduct__item.small.floatRight.marginLeft.photoWrap
  //-   img.photoInner(src="http://placehold.it/960x960/D6DA33")
