if obj.otherProducts
  .otherProduct
    .otherProduct__label 其他商品
    .otherProduct__item.big.floatLeft.photoWrap
      img.photoInner(src="http://placehold.it/960x960/29A4DB")
    .otherProduct__item.small.floatLeft.photoWrap
      img.photoInner(src="http://placehold.it/960x960/F4A93B")
    .otherProduct__item.small.floatLeft.photoWrap
      img.photoInner(src="http://placehold.it/960x960/EA5A24")
    .otherProduct__item.small.floatLeft.photoWrap
      img.photoInner(src="http://placehold.it/960x960/006837")
    .otherProduct__item.small.floatLeft.photoWrap
      img.photoInner(src="http://placehold.it/960x960/754C24")
  //- .otherProduct__item.small.floatLeft.photoWrap
  //-   img.photoInner(src="http://placehold.it/960x960/1265C3")
  //- .otherProduct__item.small.floatLeft.photoWrap
  //-   img.photoInner(src="http://placehold.it/960x960/33a312")
