.paymentSummary.js-payment-summary
  .paymentSummary__cashFlowAndLogistics
    .paymentSummary__cashFlowAndLogistics__cashFlow
      .paymentSummary__cashFlowAndLogistics__cashFlow__label 運費：
      .paymentSummary__cashFlowAndLogistics__cashFlow__price NT$50
    .paymentSummary__cashFlowAndLogistics__logistics
      .paymentSummary__cashFlowAndLogistics__logistics__label 總計：
      .paymentSummary__cashFlowAndLogistics__logistics__price NT$2,730
