.product
  include product__carousel
  //- include product__video
  include product__info
  include product__socialMedia
  include product__payment
  include product__recipientInfo
  include product__confirm
