.product__carousel.js-carouselBox
  .product__carousel__displayBox.js-displayBox
    .product__carousel__displayBox__previousBtn.jsPreviousBtn
    .product__carousel__displayBox__nextBtn.jsNextBtn
    .product__carousel__item.photoWrap.js-photoItem.js-activeFrame
      img.photoInner(src="http://placehold.it/900x900/333")
  .product__carousel__item.photoWrap.js-photoItem.js-subFrame
    img.photoInner(src="http://placehold.it/900x900/238341")
  .product__carousel__item.photoWrap.js-photoItem.js-subFrame
    img.photoInner(src="http://placehold.it/900x900/f4e0c8")
  .product__carousel__item.photoWrap.js-photoItem.js-subFrame
    img.photoInner(src="http://placehold.it/900x900/5a2f1b")
  .product__carousel__item.photoWrap.js-photoItem.js-subFrame
    img.photoInner(src="http://placehold.it/900x900/33446a")


