.product__payment
  include product__payment__quantityBox
  .product__payment__cashFlow
    .product__payment__cashFlow__label 付款方式
    .product__payment__cashFlow__actionSet
      a.prodcut__payment__cashFlow__actionSet__atmBtn ATM轉賬
      a.product__payment__cashFlow__actionSet__payOnArrivalBtn 貨到付款
      a.product__payment__cashFlow__actionSet__payInPersonBtn 面交
  .product__payment__logistics
    .product__payment__logistics__label 收件方式
    .product__payment__logistics__actionSet
      a.prodcut__payment__logistics__actionSet__deliverToHomeBtn 宅配
      a.product__payment__logistics__actionSet__deliverInPersonBtn 面交
  .product__payment__summary
    .product__payment__summary__cashFlowAndLogistics
      .product__payment__summary__cashFlowAndLogistics__cashFlow
        .product__payment__summary__cashFlowAndLogistics__cashFlow__label 運費：
        .product__payment__summary__cashFlowAndLogistics__cashFlow__price NT$50
      .product__payment__summary__cashFlowAndLogistics__logistics
        .product__payment__summary__cashFlowAndLogistics__logistics__label 總計：
        .product__payment__summary__cashFlowAndLogistics__logistics__price NT$2,730




