.product__socialMedia
  .product__socialMedia__liked
    .product__socialMedia__liked__count=obj.like.length
    .product__socialMedia__liked__label like
  a.product__socialMedia__fb f
  a.product__socialMedia__google g
  a.product__socialMedia__instagram t
