.product__carousel.js-carouselBox
  .product__carousel__displayBox.js-displayBox
    .product__carousel__displayBox__previousBtn.js-prevBtn
    .product__carousel__displayBox__nextBtn.js-nextBtn
    .product__carousel__item.photoWrap.js-activeFrame
      img.photoInner(src=obj.images[0].url)
  -for(var i=1; i<obj.images.length; i++)
    .product__carousel__item.photoWrap.js-subFrame
      img.photoInner(src=obj.images[i].url)
  //- .product__carousel__item.photoWrap.js-subFrame
  //-   img.photoInner(src="http://placehold.it/900x900/5a2f1b")
  //- .product__carousel__item.photoWrap.js-subFrame
  //-   img.photoInner(src="http://placehold.it/900x900/33446a")
  //- .product__carousel__item.photoWrap.js-subFrame
  //-   img.photoInner(src="http://placehold.it/900x900/379834")
  .product__carousel__item__videoBtn.js-subFrame
    .product__carousel__item__videoBtn__circle
    .product__carousel__item__videoBtn__triangle
    .product__carousel__item__videoBtn__overlay
