.product__recipientInfo
  .product__recipientInfo__label 收件人資料
  .product__recipientInfo__name
    label.product__recipientInfo__name__label 姓名
    input.product__recipientInfo__name__field
  .product__recipientInfo__phone
    label.product__recipientInfo__phone__label 電話
    input.product__recipientInfo__phone__field
  .product__recipientInfo__address
    label.product__recipientInfo__address__label 住址
    input.product__recipientInfo__address__field
  .product__recipientInfo__memo
    label.product__recipientInfo__memo__label 備註
    input.product__recipientInfo__memo__field

