.product__payment__quantityBox
  .product__payment__quantityBox__label 購買數量
  .product__payment__quantityBox__actionSet
    .product__payment__quantityBox__actionSet__figure 1
    .product__payment__quantityBox__actionSet__btn--minus.js-minus-btn -
    .product__payment__quantityBox__actionSet__btn--plus.js-plus-btn +

