.recipientInfo.js-recipientInfo
  .recipientInfo__label 收件人資料
  .recipientInfo__name
    label.recipientInfo__name__label 姓名
    input.recipientInfo__name__field
  .recipientInfo__phone
    label.recipientInfo__phone__label 電話
    input.recipientInfo__phone__field
  .recipientInfo__address
    label.recipientInfo__address__label 住址
    input.recipientInfo__address__field
  .recipientInfo__memo
    label.recipientInfo__memo__label 備註
    input.recipientInfo__memo__field
  a.confirmBtn 確定購買
