script(src="public/js/main.js")
script(src="public/js/transaction.js")
script(src="public/js/print.js")
script(data-frames="app_data", type="application/json")!=JSON.stringify(obj.images)
script(src="public/js/login.js")
