script
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-56353212-1', 'auto');
  ga('send', 'pageview');
script(type="text/javascript")
  /* <![CDATA[ */
  var google_conversion_id = 965357735;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
script(type="text/javascript", src="//www.googleadservices.com/pagead/conversion.js")

noscript
  div(style="display:inline;")
    img(height="1", width="1", style="border-style:none;", alt="", src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/965357735/?value=0&guid=ON&script=0")
script(type="text/javascript", src="//www.googleadservices.com/pagead/conversion.js")
script
  var google_conversion_id = 964120263;
  var google_conversion_label = "BYIvCInvjwUQx53dywM";
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
noscript
  div(style="display: inline;")
    img(height="1", width="1", style="border-style: none;", alt="", src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/964120263/?value=0&label=BYIvCInvjwUQx53dywM&guid=ON&script=0")
script(type="text/javascript")
  var google_conversion_id = 994819573;
  var google_conversion_label = "z3jfCLvOjgQQ9fuu2gM";
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
noscript
  div(style="display:inline;")
    img(height="1", width="1", style="border-style:none;", alt="", src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/994819573/?value=0&amp;label=z3jfCLvOjgQQ9fuu2gM&amp;guid=ON&amp;script=0")
script
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-41718901-1', 'meepshop.com');
  ga('send', 'pageview');
script(type="text/javascript")
  var google_conversion_id = 986719315;
  var google_conversion_label = "MHTqCP3goQUQ08jA1gM";
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
noscript
  div(style="display: inline;")
    img(height="1", width="1", style="border-style: none;", alt="", src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/986719315/?value=0&label=MHTqCP3goQUQ08jA1gM&guid=ON&script=0")
script(type="text/javascript")
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36473197-1']);
  _gaq.push(['_setDomainName', 'meepshop.com']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
script(src="public/js/index.js")
script
  (function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '683777215074222']);
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', 'PixelInitialized', {}]);
noscript
  img(height="1", width="1", alt="", style="display:none", src="https://www.facebook.com/tr?id=683777215074222&ev=PixelInitialized")
script
  (function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6019493508224', {'value':'0.00','currency':'TWD'}]);
noscript
  img(height="1", width="1", alt="", style="display:none", src="https://www.facebook.com/tr?ev=6019493508224&cd[value]=0.00&cd[currency]=TWD&noscript=1")
