.footer
  .footer__logoWord meepBee
  ul.footer__menu
    li.footer__menu__item
      a.footer__menu__item__link(href="#") about
    li.footer__menu__item
      a.footer__menu__item__link(href="#") contact
    li.footer__menu__item
      a.footer__menu__item__link(href="#") partners
    li.footer__menu__item
      a.footer__menu__item__link(href="#") terms
    li.footer__menu__item
      a.footer__menu__item__link(href="#") privacy
