.header.js-header
  .header__logo
    img.header__logo__image.photoInner(src="public/img/appIcon.png")
  .header__siteName=obj.seller.name
  .header__nav
    .header__nav__logIn.js-login-btn 登入
    .header__nav__signUp 註冊
  p#test(style="display: none;")=product
