.header
  .header__logo
    img.header__logo__image.photoInner(src="public/img/appIcon.png")
  .header__siteName=obj.objectId
  .header__nav
    .header__nav__logIn 登入
    .header__nav__signUp 註冊
  p#test(style="display: none;")=product
//- .meepbeeLabel meepbee
//-- .meepbeeLabel for temp use
