.product__payment {
  padding: 12px;
  background: $bg-color-gray-light;
  position: relative;
}

.product__payment__cashFlow,
.product__payment__logistics {
  @include pie-clearfix;
}

.product__payment__cashFlow {
  margin-bottom: 12px;
}

.product__payment__logistics {
  margin-bottom: 16px;
}

.product__payment__cashFlow__label,
.product__payment__logistics__label {
  font-weight: bold;
  margin-bottom: 6px;
  color: $text-color-black-dark;
  text-align: center;
}

.product__payment__cashFlow__actionSet,
.product__payment__logistics__actionSet {
  @include pie-clearfix;
  text-align: center;
}

.prodcut__payment__cashFlow__actionSet__atmBtn,
.product__payment__cashFlow__actionSet__payOnArrivalBtn,
.product__payment__cashFlow__actionSet__payInPersonBtn,
.prodcut__payment__logistics__actionSet__deliverToHomeBtn,
.product__payment__logistics__actionSet__deliverInPersonBtn {
  &:hover {
    cursor: pointer;
  }
  display: inline-block;
  background: $bg-color-gray-medium;
  color: $text-color-black-medium;
  font-size: 12px;
  margin-right: 12px;
  text-align: center;
  width: calc(25% - 3px);
  line-height: 54px;
  height: 54px;
  transition: 0.3s all;
}

.product__payment__cashFlow__actionSet__payInPersonBtn,
.product__payment__logistics__actionSet__deliverInPersonBtn {
  margin-right: 0;
}

.product__payment__summary,
.product__payment__summary__cashFlowAndLogistics__cashFlow,
.product__payment__summary__cashFlowAndLogistics__logistics {
  @include pie-clearfix;
}

.product__payment__summary {
  border-top: 1px solid $text-color-gray-light;
  border-bottom: 1px solid $text-color-gray-light;
  padding: 18px ;
  transition: 0.3s all;
  display: none;
}

.product__payment__summary__cashFlowAndLogistics {
  display: inline-block;
  float: right;
}

.product__payment__summary__cashFlowAndLogistics__cashFlow__label,
.product__payment__summary__cashFlowAndLogistics__cashFlow__price,
.product__payment__summary__cashFlowAndLogistics__logistics__label,
.product__payment__summary__cashFlowAndLogistics__logistics__price
 {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
}

.product__payment__summary__cashFlowAndLogistics__cashFlow__label,
.product__payment__summary__cashFlowAndLogistics__logistics__label {
  float: left;
  font-weight: bold;
  color: $text-color-black-dark;
}

.product__payment__summary__cashFlowAndLogistics__cashFlow__price,
.product__payment__summary__cashFlowAndLogistics__logistics__price {
  float: right;
  font-weight: bold;
  color: $text-color-black-dark;
}

.product__payment__summary__confirmBtn {

  &:hover {
    cursor: pointer;
  }

  width: calc(35% - 3px);
  max-width: 200px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: white;
  background: #616161;
  font-weight: bold;
  margin: 0 auto;
  border-radius: 2px;
  margin-bottom: $paddingDesktop;
}

@include susy-breakpoint($desktop, 12) {

  .product__payment {
    width: 35%;
    float: right;
    display: inline-block;
    background: $bg-color-gray-light;
    padding: $paddingDesktop;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .product__payment__quantityBox__label,
  .product__payment__cashFlow__label,
  .product__payment__logistics__label,
  .product__payment__cashFlow,
  .product__payment__cashFlow__actionSet,
  .product__payment__logistics,
  .product__payment__logistics__actionSet {
    text-align: left;
  }

  .product__payment__summary {
    position: absolute;
    bottom: -59px;
    right: 0;
    left: 0;
    z-index: 2;
  }

  .product__payment__summary__confirmBtn {
    width: 100%;
    max-width: none;
  }

}
