.product__carousel {
  position: relative;
}

.product__carousel__displayBox {
  display: inline-block;
  float: left;
  width: 80%;
}

.js-activeFrame {
  -webkit-animation: fadeIn 0.3s ease-in-out;
  width: 100%;
  padding-top: 100%;
  display: block;
}

.js-subFrame {
  display: inline-block;
  float: right;
  clear: right;
  width: 20%;
  padding-top: 20%;

  &:hover {
    cursor: pointer;
  }
}

.product__carousel__item__videoBtn {
  position: relative;
  transition: 0.3s all;
  background: $bg-color-gray-medium;
}

.product__carousel__item__videoBtn__circle {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid $text-color-black-medium;
  left: calc(50% - 16px);
  top: calc(50% - 16px);
}

.product__carousel__item__videoBtn__triangle {
  position: absolute;
  border: 8px solid transparent;
  border-left: 14px solid $text-color-black-medium;
  left: calc(50% - 5px);
  top: calc(50% - 8px);
}

.product__carousel__item__videoBtn__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(250, 250, 250, 0.1);
  transition: 0.3s all;
  z-index: 2;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    -webkit-filter: grayscale(100%);
  }
  100% {
    opacity: 1;
  }
}

.product__carousel__displayBox {

  position: relative;

  &__previousBtn, &__nextBtn {

    &:before {
      display: inline-block;
      content: '';
      width: 12px;
      height: 12px;
    }

    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    z-index: 3;
    top: calc(50% - 18px);
    color: transparent;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
    transition: 0.3s all;
    &:hover, &:active {
      cursor: pointer;
      background: rgba(white, 0.5);
    }
  }

  &__previousBtn {
    left: 6px;
    &:before {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      border-top: 2px solid white;
      border-left: 2px solid white;
      margin-top: 11px;
      margin-left: 7px;
    }
  }

  &__nextBtn {
    right: 6px;
    &:before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      border-top: 2px solid white;
      border-right: 2px solid white;
      margin-top: 11px;
      margin-right: 7px;
    }
  }

}


@include susy-breakpoint($pad, 8) {



}
