.product {
  padding-top: 48px;
}

.product__carousel {
  @include pie-clearfix;
  position: relative;
}

.js-subFrame {
  display: inline-block;
  float: left;
  width: calc(25% - 15px);
  margin-right: 20px; //1.25em
  padding-top: calc(25% - 15px);
}

.js-subFrame:last-child {
  margin-right: 0;
}

.js-activeFrame {
  margin-bottom: 20px;
}

.product__carousel__displayBox {

  position: relative;

  &__previousBtn, &__nextBtn {

    position: absolute;
    width: 42px;
    height: 42px;
    z-index: 2;
    background: blue;
    bottom: 0;
    color: #eee;
    background: #777;
    text-align: center;
    font-weight: bold;
    line-height: 42px;
    font-size: 18px;
    transition: 1s all;
    &:hover {
      cursor: pointer;
      color: #fff;
      background: #111;
    }

  }

  &__previousBtn {
    left: 0;
  }

  &__nextBtn {
    right: 0;
  }

}
