.product__socialMedia {

  text-align: left;

  &__liked {
    display: inline-block;
    float: right;
    background: rgb(14, 209, 164);
    line-height: 27px;
    padding: 4px 8px;
    border-radius: 2px;
    &__label,
    &__count {
      display: inline-block;
      font-size: 12px;
      line-height: 18px;
    }
    &__label {
      color: white;
      font-weight: bold;
      font-size: 14px;
    }
    &__count {
      margin-right: 7px;
      background: white;
      padding: 0px 8px;
      border-radius: 2px;

    }
  }

  &__fb, &__google, &__instagram {
    display: inline-block;
    color: white;
    width: 32px;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
  }

  &__fb {
    background: $btn-color-fb;
  }

  &__google {
    background: $btn-color-google;
  }

  &__instagram {
    background: $btn-color-instagram;
    margin-right: 0;
  }

}

@include susy-breakpoint($desktop, 12) {
  .product__socialMedia {
    text-align: center;
    margin-bottom: 1.5em;
    display: inline-block;
    width: 35%;
    float: right;
  }
  // .product__socialMedia {
  //   position: absolute;
  //   bottom: 0;
  //   width: 65%;
  //   display: block;
  //   text-align: center;
  // }
  // .product__socialMedia:before {
  //   display: inline-block;
  //   width: 20%;
  //   margin-right: 18px;
  //   content: '';
  //   height: 1px;
  //   background: $border-color-gray;
  //   margin-bottom: 6px;
  // }
  // .product__socialMedia:after {
  //   display: inline-block;
  //   width: 20%;
  //   margin-left: 18px;
  //   content: '';
  //   height: 1px;
  //   background: $border-color-gray;
  //   margin-bottom: 6px;
  // }
}
