.product__info__title {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1px;
  color: $text-color-black-dark;
  font-weight: 200;
}

.product__info__price {
  color: $text-color-black-light;
  margin-bottom: 6px;
}

.product__info__price__currency,
.product__info__price__figure {
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  font-weight: bold;
  color: $text-color-black-dark;
}

.product__info__price__currency {
  margin-right: 6px;
}

.product__info__description {
  color: $text-color-black-medium;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

@include susy-breakpoint($desktop, 12) {

  .product__info {
    width: 35%;
    float: right;
    display: inline-block;
    background: $bg-color-gray-light;
    padding: 20px;
    margin-bottom: 1.5em;
  }
}
