.recipientInfo {
  @include pie-clearfix;
  background: $bg-color-gray-light;
  padding: 0 12px 12px 12px;
  clear: both;
  margin-bottom: 14px;
  display: none;
}

.recipientInfo__name,
.recipientInfo__phone,
.recipientInfo__address,
.recipientInfo__memo {
  width: 100%;
  margin-bottom: 10px;
  &__label, &__field {
    width: 100%;
    display: block;
    font-size: 14px;
  }
  &__field {
    // border-radius: 0;
    // border: none;
    border: 1px solid $text-color-gray-light;
    background: white;
    line-height: 28px;
    height: 28px;
    // padding-left: 0;
  }
}

.recipientInfo__label {
  font-weight: bold;
  margin-bottom: 6px;
}

.confirmBtn {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2px;
  background: $theme-green;
  color: white;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: block;
  letter-spacing: 1px;
  margin-top: 14px;
  margin-bottom: 2px;
}

@include susy-breakpoint($desktop, 12) {
  .recipientInfo {
    width: 100%;
    // float: right;
    position: absolute;
    bottom: -475px;
    left: 0;
    padding: 91px $paddingDesktop $paddingDesktop $paddingDesktop;
  }
  .confirmBtn {
    margin-top: 18px;
  }
}
