.footer {
  padding: 18px 0;
  background: $theme-green;
  @include pie-clearfix;
}

.footer {
  &__logoWord {
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
  }
  &__menu {
    @include pie-clearfix;
    width: 100%;
    text-align: center;
    list-style: none;
    padding-left: 0;
  }
}

.footer__menu__item {
  display: inline-block;
  float: left;
  width: 20%;
  text-align: center;
  &__link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 10px;
    line-height: 24px;
  }
}

@include susy-breakpoint($desktop, 12) {
  .footer {
    padding: 2.5em 0 3em 0;
    &__logoWord {
      font-size: 24px;
      line-height: 48px;
    }
  }
  .footer__menu__item {
    float: none;
    width: auto;
    &__link {
      font-size: 12px;
      padding: 0 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

